.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fb;
}

/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Form */
.login-modal {
  width: 420px;
  background: white;
  border-radius: 20px;
  padding: 35px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: popup 0.3s ease;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-modal h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* Close button */
.close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #777;
}

/* Inputs */
.login-modal input {
  width: 100%;
  padding: 13px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  box-sizing: border-box;
  transition: 0.3s;
}

.login-modal input:focus {
  outline: none;
  border-color: #ff6b81;
  box-shadow: 0 0 5px rgba(255, 107, 129, 0.3);
}

/* Button */
.login-btn {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg,
      #ff6b81,
      #ff4757);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 71, 87, 0.4);
}

.login-modal p {
  text-align: center;
  margin-top: 18px;
  color: #555;
}

.login-modal span {
  color: #ff4757 !important;
  font-weight: bold;
}

.login-modal span:hover {
  text-decoration: underline;
}